pig_*.log
*.RData
*.Rd2dvi*
Rplots.pdf
*.Rout
pig.ipr
pig.iws
lib/packetpig/target
lib/packetpig/.idea/workspace.xml
*.tsv
*.csv
lib/packetpig/.classpath
lib/packetpig/.project
README.html
tmp

secret
output
*.pyc

lib/elastic-mapreduce-ruby/credentials.json
